<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:proconip:config">
		<parameter name="hostname" type="text" required="true">
			<context>network-address</context>
			<label>Hostname</label>
			<description>URL of the ProCon.IP, e.g. http://proconip.mynet.mydomain or http://10.10.10.10</description>
		</parameter>
		<parameter name="refreshInterval" type="integer" unit="s" min="30">
			<label>Refresh Interval</label>
			<description>Interval at which the ProCon.IP is polled (in sec.)</description>
			<default>60</default>
		</parameter>
	</config-description>

	<config-description uri="channel-type:proconip:relais-dependent-config">
		<parameter name="relaisFilter" type="text" pattern="(relais#relais\d);(\d+)">
			<label>Relais Filter</label>
			<description>Disable channel based on the state of a relais channel</description>
		</parameter>
	</config-description>
</config-description:config-descriptions>
